force-app/main/default/flows/Initiate_Dunning_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_to_DB_Team_Turn_Off</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Email to Turnoff</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>blng__Invoice__c.Email_to_DB_Team_Turn_Off</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>blng__Invoice__c.Email_to_DB_Team_Turn_Off</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Due_Date_Remainder</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Due Date Remainder</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>blng__Invoice__c.Due_Date_Remainder</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>blng__Invoice__c.Due_Date_Remainder</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Past Due Date - Email Turnoff</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Due Date Alert Emails</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[blng__Invoice__c].blng__DueDate__c + 90 &gt; TODAY() &amp;&amp; [blng__Invoice__c].blng__Balance__c &lt;&gt; 0</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.blng__DueDate__c} + 90 &gt; TODAY() &amp;&amp; {!myVariable_current.blng__Balance__c} &lt;&gt; 0</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[blng__Invoice__c].blng__DueDate__c + 90 = TODAY() &amp;&amp;  [blng__Invoice__c].blng__Balance__c &lt;&gt;0 || [blng__Invoice__c].blng__DueDate__c + 60 = TODAY() &amp;&amp;  [blng__Invoice__c].blng__Balance__c &lt;&gt;0 || [blng__Invoice__c].blng__DueDate__c + 31 = TODAY() &amp;&amp;  [blng__Invoice__c].blng__Balance__c &lt;&gt;0 || [blng__Invoice__c].blng__DueDate__c + 15 = TODAY() &amp;&amp;  [blng__Invoice__c].blng__Balance__c &lt;&gt;0 </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.blng__DueDate__c} + 90 = TODAY() &amp;&amp;  {!myVariable_current.blng__Balance__c} &lt;&gt;0 || {!myVariable_current.blng__DueDate__c} + 60 = TODAY() &amp;&amp;  {!myVariable_current.blng__Balance__c} &lt;&gt;0 || {!myVariable_current.blng__DueDate__c} + 31 = TODAY() &amp;&amp;  {!myVariable_current.blng__Balance__c} &lt;&gt;0 || {!myVariable_current.blng__DueDate__c} + 15 = TODAY() &amp;&amp;  {!myVariable_current.blng__Balance__c} &lt;&gt;0</expression>
    </formulas>
    <interviewLabel>Initiate_Dunning_Process-1_InterviewLabel</interviewLabel>
    <label>Initiate Dunning Process</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>blng__Invoice__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>blng__Invoice__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Invoice__c</objectType>
    </variables>
</Flow>
